body{
 font-family: lato ,sans-serif;
}
.header{
   
    
    padding: 57px 0;

}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}


.bar{
    display: none;
}


.list a{
    color:rgba(13, 14, 67, 1) ;
}

.search form input{
border: none;
outline: none;
width: 250px;
padding-left:9px;

}

.search button{
 border: none;
outline: none; 
background-color: #FB2E86;
padding: 8px 13px;
 
}

.search form{
    border: 3px solid rgba(231, 230, 239, 1);
    border-radius:5px;
    display: flex;
}

.header.active  {
    color:#FB2E86 ;
    
}

@media screen and ( max-width:1200px ) {
 .list,.header .search {
    display : none;
 }  
 
 .bar{
    display: block;
 }

}
/*end header*/
/*sttart footer*/
.footer{
    background-color: rgba(238, 239, 251, 1);
    padding: 50px 0;

}
.footer .row {
   gap: 30px; 
}
    
.footer a ,.address-info {
  color: rgba(138, 143, 185, 1);  
}

.right-side{

width: calc(( 100% - 30px  ) / 2 );


}
.left-side{
gap: 35px;
align-items: flex-start;
width:50%;
width: calc(( 100% - 30px  ) / 2 );

}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}

 .right-side .row{
    gap:35px;
    align-items:flex-start;
}

.footer-item{
    width:calc( (100% -   70px ) / 3);
    gap:45px

}
@media screen and (max-width:992px) {
  .right-side , .left-side {
    width: 100%;
  }  
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }
  .footer-item {
    width: 100%;
  }  
}


/*e]nd footer*/
